In [1]:
import numpy as np
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
import pandas as pd 
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
df=pd.read_csv("E://my ml models//loan model//archive (1)//loan_sanction_train.csv")

In [3]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
df=df.dropna()

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.Gender=le.fit_transform(df.Gender)
df.Dependents=le.fit_transform(df.Dependents)
df.Education=le.fit_transform(df.Education)
df.Self_Employed=le.fit_transform(df.Self_Employed)
df.Property_Area=le.fit_transform(df.Property_Area)
df.Loan_Status=le.fit_transform(df.Loan_Status)

C:\Users\Basel Bakeer\AppData\Local\Temp\ipykernel_19212\2842101605.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Gender=le.fit_transform(df.Gender)
C:\Users\Basel Bakeer\AppData\Local\Temp\ipykernel_19212\2842101605.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Dependents=le.fit_transform(df.Dependents)
C:\Users\Basel Bakeer\AppData\Local\Temp\ipykernel_19212\2842101605.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Education=le.fit_transform(df.Education)
C:\Users\Basel Bakeer\AppData\Local\Temp\ipykernel_19212\2842101605.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Self_Employed=le.fit_transform(df.Self_Employed)
C:\Users\Basel Bakeer\AppData\Local\Temp\ipykernel_19212\2842101605.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Property_Area=le.fit_transform(df.Property_Area)
C:\Users\Basel Bakeer\AppData\Local\Temp\ipykernel_19212\2842101605.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Loan_Status=le.fit_transform(df.Loan_Status)

In [7]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,Yes,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,Yes,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,Yes,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,No,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,Yes,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,No,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,Yes,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,Yes,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,Yes,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,No,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [8]:
df.Married=le.fit_transform(df.Married)

C:\Users\Basel Bakeer\AppData\Local\Temp\ipykernel_19212\1963401777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Married=le.fit_transform(df.Married)

In [9]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [10]:
df.drop('Loan_ID',axis=1,inplace=True)

C:\Users\Basel Bakeer\AppData\Local\Temp\ipykernel_19212\2767611494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Loan_ID',axis=1,inplace=True)

In [15]:
x=df.drop('Loan_Status',axis=1)
y=df['Loan_Status']
from sklearn.model_selection import train_test_split
X_test,X_train,Y_test,Y_train=train_test_split(x,y,test_size=0.2)

In [12]:
pipelines = {
    'xgboost': Pipeline([
        ('model', xgb.XGBClassifier(use_label_encoder=False, eval_metric='mlogloss', random_state=42))
    ]),
    'random_forest': Pipeline([
        ('model', RandomForestClassifier(random_state=42))
    ]),
    'decision_tree': Pipeline([
        ('model', DecisionTreeClassifier(random_state=42))
    ]),
    'logistic_regression': Pipeline([
        ('model', LogisticRegression(max_iter=200, random_state=42))
    ]),
    'knn': Pipeline([
        ('model', KNeighborsClassifier())
    ]),
    'gradient_boosting': Pipeline([
        ('model', GradientBoostingClassifier(random_state=42))
    ])
}

In [13]:
param_grids = {
    'xgboost': {
        'model__max_depth': [3, 4, 5],
        'model__learning_rate': [0.01, 0.1, 0.2],
        'model__n_estimators': [50, 100]
    },
    'random_forest': {
        'model__n_estimators': [50, 100],
        'model__max_depth': [3, 4, 5],
        'model__min_samples_split': [2, 5]
    },
    'decision_tree': {
        'model__max_depth': [3, 4, 5, None],
        'model__min_samples_split': [2, 5, 10]
    },
    'logistic_regression': {
        'model__C': [0.01, 0.1, 1, 10],
        'model__solver': ['lbfgs', 'liblinear'],
        'model__penalty': ['l2']
    },
    'knn': {
        'model__n_neighbors': [3, 5, 7, 9],
        'model__weights': ['uniform', 'distance'],
        'model__metric': ['euclidean', 'manhattan']
    },
    'gradient_boosting': {
        'model__n_estimators': [50, 100],
        'model__learning_rate': [0.01, 0.1, 0.2],
        'model__max_depth': [3, 4, 5],
        'model__min_samples_split': [2, 5]
    }
}

In [16]:
best_models = {}
for model_name, pipeline in pipelines.items():
    grid_search = GridSearchCV(estimator=pipeline, param_grid=param_grids[model_name], 
                               scoring='accuracy', cv=3, verbose=1, n_jobs=-1)
    grid_search.fit(X_train, Y_train)
    best_models[model_name] = grid_search.best_estimator_
    print(f"Best Parameters for {model_name}: {grid_search.best_params_}")

Fitting 3 folds for each of 18 candidates, totalling 54 fits

C:\Users\Basel Bakeer\anaconda3\lib\site-packages\xgboost\core.py:158: UserWarning: [12:09:43] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Best Parameters for xgboost: {'model__learning_rate': 0.01, 'model__max_depth': 4, 'model__n_estimators': 100}
Fitting 3 folds for each of 12 candidates, totalling 36 fits
Best Parameters for random_forest: {'model__max_depth': 5, 'model__min_samples_split': 2, 'model__n_estimators': 100}
Fitting 3 folds for each of 12 candidates, totalling 36 fits
Best Parameters for decision_tree: {'model__max_depth': 5, 'model__min_samples_split': 2}
Fitting 3 folds for each of 8 candidates, totalling 24 fits
Best Parameters for logistic_regression: {'model__C': 10, 'model__penalty': 'l2', 'model__solver': 'lbfgs'}
Fitting 3 folds for each of 16 candidates, totalling 48 fits

C:\Users\Basel Bakeer\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Best Parameters for knn: {'model__metric': 'manhattan', 'model__n_neighbors': 9, 'model__weights': 'uniform'}
Fitting 3 folds for each of 36 candidates, totalling 108 fits
Best Parameters for gradient_boosting: {'model__learning_rate': 0.01, 'model__max_depth': 4, 'model__min_samples_split': 5, 'model__n_estimators': 100}

In [17]:
for model_name, best_model in best_models.items():
    # Calculate training accuracy
    training_accuracy = best_model.score(X_train, Y_train)  # Training accuracy
    # Calculate test accuracy
    y_pred = best_model.predict(X_test)  # Predictions on the test set
    accuracy = accuracy_score(Y_test, y_pred)  # Test accuracy
    print(f"Training Accuracy of {model_name}: {training_accuracy * 100:.2f}%")
    print(f"Test Accuracy of {model_name}: {accuracy * 100:.2f}%")

Training Accuracy of xgboost: 79.17%
Test Accuracy of xgboost: 82.29%
Training Accuracy of random_forest: 88.54%
Test Accuracy of random_forest: 79.43%
Training Accuracy of decision_tree: 85.42%
Test Accuracy of decision_tree: 75.78%
Training Accuracy of logistic_regression: 76.04%
Test Accuracy of logistic_regression: 77.86%
Training Accuracy of knn: 71.88%
Test Accuracy of knn: 61.20%
Training Accuracy of gradient_boosting: 85.42%
Test Accuracy of gradient_boosting: 76.04%